* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	/* max-width: 960px; */
	width: 100vw;
	height: 100vh;
	/* margin: 0 auto; */
	padding: 0 10px;
	font-family: 'Roboto', sans-serif;
	background: #F3F3F6;
}

.inner {
	padding: 5px;
}

h1 {
	color: #575c63;
}

h2 {
	margin-bottom: 10px;
	color: #575c63;
}

input {
	padding: 5px 10px;
}
/*------------Main styles-----------------*/
.add-task-board {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.add-task-board__form {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-right: 15px;
}

.add-task-board__form div {
	position: relative;
	width: 70%;
}

.add-task-board__form div label {
	position: absolute;
	top: 20%;
	left: 10px;
	color: #555555;
	opacity: 0.5;
	cursor: text;
}

.task-input {
	width: 100%;
}

.task-input:focus + label {
	opacity: 0;
}

.task-input:valid + label {
	opacity: 0;
}

.date-input  {
	width: 27%;
}

.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.board {
	width: 30%;
	/* min-height: 300px; */
	/* background: #F0F0F0; */
	/* border: 1px solid #F1F1F1; */
	/* box-shadow: 0 0 6px 18px #EDEDED; */
	/* border-radius: 5px; */
}

.list {
	display: flex;
	flex-direction: column;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 99px;
	min-height: 100px;
	max-height: auto;
	margin-bottom: 10px;
	padding: 5px;
	color: #6F747D;
	background: #ffffff;
	border-radius: 2px;
}

.task__text {
	margin-right: 5px;
}

.task__time {
	margin-right: 5px;
	font-weight: 700;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.icon-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.done-board .icon-container {
	justify-content: start;
}

.icon {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 1px;
	background: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
}

.close-icon {
	margin-right: 8px;
}

.close-icon::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 12.5%;
	width: 20px;
	height: 2px;
	background: #4BBF6B;
	transform: rotate(45deg);
	border-radius: 2px;
}

.close-icon::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 12.5%;
	width: 20px;
	height: 2px;
	background: #4BBF6B;
	transform: rotate(135deg);
	border-radius: 2px;
}

.remove-icon::before {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 2px;
	width: 18px;
	height: 2px;
	background: #4BBF6B;
	border-radius: 2px;
}

.remove-icon::after {
	content: "";
	position: absolute;
	top: 25%;
	left: 25%;
	width: 10px;
	height: 10px;
	border: 2px solid #4BBF6B;
	border-bottom: none;
	border-left: none;
	border-radius: 2px;
	transform: rotate(45deg);

}

.delete-button,
.add-button {
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid #4BBF6B;
	border-radius: 3px;
}